<div class="page-width collection-container" data-section-type="slide-product-personal">
    {% if section.settings.title != blank %}
        <div>
            <h2>{{section.settings.title}}</h2>
        </div>
    {% endif %}
    {%- assign collection = collections[section.settings.collection] -%}
    {%- case section.settings.product_rows -%}
         {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
      
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
     
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
   
    {%- endcase -%}

    {% assign product_limit = section.settings.product_rows %}
    <ul class="flex hidden-slide grid grid--uniform grid--view-items">
        {% for product in collection.products limit: product_limit %}
            <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
                {% include 'product-card-grid-no-price', max_height: max_height, product: product, show_vendor: section.settings.show_vendor  %}
                <span class="product-price">{{product.price | money}}</span> 
            </li>

        {% endfor %}
    </ul>
    <div>
        <button id="btn_Prev">Previous</button>
        <button id="btn_Next">Next</button>
    </div>
 {% if section.settings.show_all %}
    <hr class="hr--invisible" aria-hidden="true" />
    <div class="text-center">
      <a href="{{ collection.url }}" class="btn" aria-label="{{ 'collections.general.view_all_label' | t: collection_name: collection.title }}">
        {{ 'collections.general.view_all' | t }}
      </a>
    </div>
  {% endif %}
</div>


{% schema %}
    {
        "name": "Show Collection",
        "class": "Show Collection",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Featured collection"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
                "type": "range",
                "id": "product_rows",
                "min": 2,
                "max": 4,
                "step": 1,
                "label": "Products per row",
                "default": 2
            },
            {
                "type": "checkbox",
                "id": "show_vendor",
                "label": "Show vendor",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "show_all",
                "label": "Show all product button",
                "default": false
            }
        ],
        "presets": [
            {
                "name": "Show collection",
                "category": "Show your collection"
            }
        ]
    }
{% endschema %}
