
{% if section.settings.image_alignment == 'right' %}
    {%- assign rightSwap = true -%}
{% endif %}
<div class="img-txt-wrapper">
    <div class="img-txt-container {% if rightSwap %} row-reverse-option {% endif %}">
    <div class="img-part">
        <img alt="cant-see-pic" src="{{section.settings.post_image | img_url: 'master'}}"/>
    </div>
    <div class="text-part">
        <div>
            <h4 class="txt-uppercase">{{section.settings.sub_heading}}</h4>
            <h3 class="txt-uppercase">{{section.settings.heading}}</h3>
            <p>{{section.settings.description}}</p>
        </div>
    </div>
</div>
</div>



{% schema %} 
{ 
    "name": "Text With Image", 
    "class": "Text With Image", 
    "settings": [ 
        { 
            "type": "image_picker",
            "id": "post_image", 
            "label": "Image" }, 
        { 
            
            "type": "select", 
            "id": "image_alignment",
            "label": "Image Alignment",
            "options": [ 
                { 
                    "value": "left",
                    "label": "Left" 
                }, 
                { 
                    "value": "right",
                    "label": "Right"
                } 
            ], 
            "default": "left"
        },
        { 
            "type": "text", 
            "id": "sub_heading", 
            "label": "Sub heading", 
            "default": "Sub heading" 
        }, 
        { 
            "type": "text", 
            "id": "heading", 
            "label": "Heading", 
            "default": "Heading" 
        },
        { 
            "type": "richtext", 
            "id": "description", 
            "label": "Post description", 
            "default": "<p>Add your own custom content to give more information about your store, availability details...</p>" 
            } 
    ], 
    "presets": [ 
        { 
            "name": "Text with image", 
            "category": "Text with image" 
        } 
    ]
} 

{% endschema %}